[2018-02-28 09:37] teolemon opened #1 "Score edits"
Predict if an edit is likely good or bad

[2018-02-28 09:38] teolemon opened #2 "Score contributors"
Score whether a contributor makes good or bad contributions (will enable edit scoring)

[2018-02-28 09:40] teolemon opened #3 "Surface interesting charts"
Currently people have to experiment, or use scientific knowledge to create charts on Open Food Facts.
See if we can surface charts with interesting shapes, outliers… automatically.
Humans could potentially then review those charts, how interesting they are…
We could use past chart usage as training data, or just generate images of results, and compare them to classic scientific distributions (bimo

[2018-02-28 09:42] teolemon opened #4 "Classify products based on their front image (and possibly more)"
### What
### Part of

Detect their category based on their front image

[2018-02-28 09:42] teolemon opened #5 "Classify product based on their ingredient list, nutrition profile, and possibly more"

[2018-02-28 09:43] teolemon opened #6 "Generate new categories by automatically clustering similar products"
Generate new categories by automatically clustering similar products, break down existing categories in sub categories

[2018-02-28 09:48] teolemon opened #7 "Recognize labels and logos"
Recognize labels and logos on packaging.

NB: we have already used Google Cloud Vision to do that on part of the database. Some interesting results, but we could benefit from a more specialized solution (we have the clean images of the labels on the Wiki, but no brand dataset)

[2018-02-28 09:49] teolemon opened #8 "Extract data from nutrition tables"
Extract data from nutrition tables, see if we can get to the point where it's reliable enough to offer it as a suggestion to users.

Should probably be done in conjunction with other things, to provide checks (eg checking based on category, product name…)

[2018-02-28 09:51] teolemon opened #9 "Extract all packager codes from packaging images"
They have a very specific shape (oval), and very predictable data (that could be Regexed out).
It would be nice to have a bounded crop of the image, as well as the extracted data.

[2018-02-28 09:52] teolemon opened #10 "Extract Contributing profiles"
Analyse what contributions contributor like most, and propose to contribute more in that direction, or to try something new.

[2018-02-28 09:56] teolemon opened #11 "Extract all barcodes (even when blurry and non-readable)"
They have a very specific shape, and very predictable data (if they can be recognized using the zxing library, or using OCR).
Sometimes, both ZXING and OCR will fail, and being able to recognize it looks like a barcode, but it's not legible, is interesting in many ways.
Flagging products for human review, nudging the contributor of the photo, quality checks…
It would be nice to have a bounded crop

[2018-02-28 09:58] teolemon opened #12 "Generate a large labelled dataset of logos from Open Food Facts data"

[2018-02-28 09:58] teolemon opened #13 "Generate a large labelled dataset of nutrition tables from Open Food Facts data"

[2018-02-28 09:58] teolemon opened #14 "Generate a large labelled dataset of food pictures from Open Food Facts data"

[2018-02-28 09:59] teolemon opened #15 "Generate a large labelled dataset of barcodes from Open Food Facts data"
Generate a large labelled dataset of barcodes from Open Food Facts data
The interesting point is to include blurry barcodes, ones not recognized by current libraries…

[2018-02-28 10:01] teolemon opened #16 "Generate a large labelled dataset of cropped ingredient list from Open Food Facts data"
Generate a large labelled dataset of cropped ingredient list from Open Food Facts data
This will enable building autocropping systems

[2018-02-28 10:02] teolemon opened #17 "Generate a large labelled dataset of cropped nutrition tables from Open Food Facts data"
Generate a large labelled dataset of cropped nutrition tables from Open Food Facts data
This will enable autocropping systems.

[2018-02-28 10:02] #13 closed

[2018-02-28 10:03] teolemon opened #18 "Enable barcode less product recognition"
Enable barcode less product recognition using something like Pastec.io (opensource)

[2018-02-28 10:09] teolemon opened #19 "Generate average product images from categories"
A fun experiment could be to try and average product images from categories.

http://thechive.com/2015/09/13/heres-what-the-average-person-looks-like-in-each-country-11-photos/

[2018-02-28 10:10] teolemon opened #20 "Create a system that unblurs images"

[2018-02-28 10:10] teolemon opened #21 "Create a system able to create 3D models of products from different images"

[2018-02-28 10:15] teolemon opened #22 "Create a system able to fold a 3D model from the flat packaging schematics"

[2018-02-28 10:42] teolemon opened #23 "Recognize packaging material"
Recognize packaging material from photos (cardboard, plastic…)

[2018-02-28 10:42] teolemon opened #24 "Label automatically a product when braille is detected"

[2018-02-28 10:43] teolemon opened #25 "Remove backgrounds"
Remove backgrounds. We currently have a basic technique but it can made much better

[2018-02-28 10:44] teolemon opened #26 "Flatten images"
Not AI per se, but need to Flatten image to enable better recognition on other projects

[2018-02-28 10:45] teolemon opened #27 "Process the whole DB with Google Cloud Vision, with all options enabled."
Process the whole DB with Google Cloud Vision, with all options enabled. We've done it on part of the DB, we need to redo it again, with all options enabled.

[2018-02-28 10:48] teolemon opened #28 "Process the Google Cloud Vision results through Google NLP"
Not an AI task per se, but might yield interesting datasets for actual AI projects:
Process the Google Cloud Vision results through Google NLP.

[2018-02-28 10:50] teolemon opened #29 "Recognize packaging type (bottle, bag…)"
Recognize packaging type (bottle, bag…)
Closely related to #23

[2018-02-28 11:39] stephanegigandet commented on #12
List of tool to annotate images with bounding boxes:
https://en.wikipedia.org/wiki/List_of_manual_image_annotation_tools

[2018-02-28 12:54] teolemon commented on #11
http://vbn.aau.dk/files/261392843/yolo_barcode.pdf

[2018-02-28 12:59] teolemon commented on #23
https://arxiv.org/pdf/1412.0623.pdf

[2018-02-28 14:06] teolemon opened #30 "Turn the Google cloud vision generated Python-dict stored in JSON files into actual JSONs"

[2018-02-28 16:45] vasu-dev commented on #23
@teolemon I would like to take up this issue.
I have already started working on it .
To start with i'm planning to take around 800-900 images and classify them in two broad categories i.e bottles/cans and others

[2018-02-28 16:46] vasu-dev commented on #23
I will start will manual data annotation and then use the classifier to further annotate the data.
I'm already half way through it

[2018-02-28 16:48] vasu-dev commented on #29
@teolemon I would like to take up this issue.
I have already started working on it .
To start with i'm planning to take around 800-900 images and classify them in two broad categories i.e bottles/cans and others

[2018-02-28 16:49] vasu-dev commented on #29
I will start will manual data annotation and then use the classifier to further annotate the data.
I'm already half way through it

[2018-02-28 17:54] AbhigyanBose commented on #25
I would like to work on this issue. Is there any data/image I can have for reference ? (The data at https://world.openfoodfacts.org/data mostly have their backgrounds removed.)

[2018-03-01 02:31] Anubhav-Bhargava commented on #7
@teolemon  I would like to take up this issue.
I have already completed a sub part of the problem [here](https://github.com/Anubhav-Bhargava/AI-Experiments/tree/master/LOGO%20Classification)

[2018-03-01 02:32] Anubhav-Bhargava commented on #7
Currently working on Logo localization/detection.

[2018-03-01 13:38] saurabbhsp commented on #4
I would like to take up this issue. Is there any dataset available/ preferred that I can use for POC. Also is the classification problem multi-label classification.

[2018-03-01 13:55] saurabbhsp commented on #4
I think something like region based CNN will be useful to solve this problem. The same thing has been discussed in the following paper.
https://arxiv.org/pdf/1506.01497.pdf

[2018-03-01 17:31] yashpungaliya commented on #26
Hi @teolemon we can use the **imread** function in **scipy** for flattening the images as follows-

`from scipy.misc`
`import imread `
 `img = imread("imgname.jpg") `
`img.flatten()`

[2018-03-01 17:41] yashpungaliya commented on #20
I have read about Wiener filters and also come across an OpenCV implementation written in C. Can we try that?

[2018-03-01 19:40] vasu-dev commented on #30
suppose we call the vision api and store the response in the response variable i.e,
 response = client.label_detection(image=image)

this returns plain protobuf objects, which can be serialized to JSON using:

from google.protobuf.json_format import MessageToJson
serialized = MessageToJson(response)

this converts the response into a JSON string, something similar to json.dumps()

and hence json.l

[2018-03-02 16:16] Anubhav-Bhargava commented on #7
[Here](https://github.com/Anubhav-Bhargava/Logo-Classifier) is the updated Logo Classifier. It is currently trained to recognize Pepsi logo's but given enough data can be extended to other logo's also.

[2018-03-03 12:25] teolemon opened #31 "Generate a system able to autorotate pictures"
Many pictures sent to Open Food Facts are not properly rotated. Create a system able to autorotate pictures.

![image](https://user-images.githubusercontent.com/1689815/36934201-500f8cca-1ee6-11e8-897c-437b67c899aa.png)

[2018-03-03 17:36] yashpungaliya commented on #31
This looks like a rather interesting problem because the orientation of an image can be arbitrary and can be decided only based on the content of the image. It would not always mean that the image should be in a Landscape/Portrait mode because the text on the image will determine its orientation.

For this, I suggest that we can use CV to detect a small sample of text on the image(even detecting t

[2018-03-03 18:29] aromadhony commented on #5
Hi @teolemon , I would like to take this issue. Would you like to provide more information on the class/label that should be used? Is it SENS or 5C as stated in this article https://www.anses.fr/en/content/systems-nutritional-classification-foods-comparison-sens-and-5c-based-rayners-score ?

Thank you!

[2018-03-04 11:02] teolemon commented on #31
@stephanegigandet Can we generate a dataset with a day's worth of selected ingredient pictures ?

[2018-03-04 11:03] teolemon commented on #31
@stephanegigandet It has to be recent pictures, so that many ingredient lists are still poorly rotated.

[2018-03-04 12:43] m-nikhil commented on #6
can you direct me to the data about the product.

[2018-03-05 14:47] saurabbhsp commented on #4
I found another alternative for OCR
http://www.robots.ox.ac.uk/~vgg/data/scenetext/

[2018-03-08 04:24] Anubhav-Bhargava commented on #26
@yashpungaliya I think we need to flatten image as in change the angle by which the image is taken, like as you see in Google earth images. The above flatten function only converts the image from 2-D (grayscale) to 1-D array.

[2018-03-09 04:13] JyotsanaS commented on #31
@teolemon I have created a small dataset of about 27 images which need rotation for ingredients and nutrition table.
https://github.com/JyotsanaS/off/tree/master/autorotate

[2018-03-10 12:20] dbetteb commented on #8
Could you provide an example what kind of knowledge you'd like to extract from nutrition table ?

[2018-03-14 11:00] teolemon opened #32 "typo in string"
You must enter the characters of the barcode or send a product image when the barcode is visible.

You must enter the characters of the barcode or send a product image where the barcode is visible.

[2018-03-14 12:50] teolemon commented on #1
![image](https://user-images.githubusercontent.com/1689815/37403167-34d705ea-278e-11e8-8d3d-e878011528ce.png)
![image](https://user-images.githubusercontent.com/1689815/37403249-7c4b7f46-278e-11e8-9bc9-e99d4e01c97f.png)
![image](https://user-images.githubusercontent.com/1689815/37403289-9b3275f4-278e-11e8-9d40-bf03149a5e1c.png)

![image](https://user-images.githubusercontent.com/1689815/37403225-6

[2018-03-17 13:15] Minkush-sopho commented on #10
@teolemon  are you talking about something like a recommender system for the contributors based on their previous contributions?

[2018-03-17 19:34] ashishkumar1550 commented on #7
@Anubhav-Bhargava .. Nice model there, I suggest you should try different architectures, I doubt it will work remarkable on a large scale.

[2018-03-17 19:41] ashishkumar1550 commented on #31
If no one is working on this issue, can I start working on it?

[2018-03-18 08:15] Anubhav-Bhargava commented on #31
This problem is similar to this [StrackOverflow Question](https://stackoverflow.com/questions/46731947/detect-angle-and-rotate-an-image-in-python).
Tried the script on bunch of different images provided by @JyotsanaS.
The results are good but it sometimes detects the angle to be negative of the actual value (and vice versa), so the image is sometimes rotated in opposite direction.

[2018-03-18 08:25] Anubhav-Bhargava commented on #7
@ashishkumar1550 Thanks for the comments. Yes, I am trying to use some advanced architectures like VGG16 or InceptionV3.

[2018-03-18 08:32] ashishkumar1550 commented on #31
@Anubhav-Bhargava I think using image processing techniques might not perform well on diverse data but I can be wrong here. I think this problem can be better solved using deep learning, I did see some papers on it which I am going to try now, lets see what technique works out better to solve this problem.

[2018-03-24 09:56] ashishkumar1550 commented on #11
@teolemon Are you referring to yolo_barcode as a solution or are you saying that it isn't working properly?

[2018-03-24 11:52] visin commented on #15
@teolemon I made a dataset of barcodes out of the sample dataset available on slack. It has 185 annotated pictures in total with 161 for training and 24 for testing. Here's the link: https://drive.google.com/file/d/19cGKNXXEkP45aMXXHznuqnfN4T00bLZz/view?usp=sharing

Would love to get some feedback.
Also, as this file is bigger than what GitHub allows, should I add the link to the Readme and make a

[2018-03-24 12:54] Anubhav-Bhargava commented on #15
@visin It is a nice dataset. Just the images 3222475403064_2.jpg and 3222476758729_2.jpg have been swapped between the train_set and test_set.

[2018-03-24 13:18] visin commented on #15
@Anubhav-Bhargava Thanks for pointing it out! Will fix it asap.

[2018-03-25 11:37] arshiyaaggarwal commented on #24
@teolemon I would like to take up this issue
I am planning to first focus on the text regions of interest from the image. The localised text regions will then be converted into the labels for the products.

[2018-03-25 13:30] arshiyaaggarwal commented on #24
https://crypto.stanford.edu/~dwu4/papers/TextRecogCNN.pdf
I plan to use a similar approach to solve this issue

[2018-03-26 11:02] arshiyaaggarwal commented on #18
@teolemon I would like to take this issue up.
I would like to do a comparison of product identification using Convolutional Neural Networks and recent Capsule Networks that introduce the concept of "equivariance" as opposed to "invariance" introduced by pooling.

[2018-03-26 17:28] aromadhony commented on #5
I put my experimental code on automatic category classification based on ingredients in [here](https://github.com/aromadhony/GSoC2018/blob/master/OpenFoodFacts/get_cat_ingredients.ipynb)

[2018-07-13 20:05] clumsyfox-z9o9z commented on #6
@m-nikhil Are you currently working on that topic? If not, I would like to work on it as well. Perhaps we can try it both and share ideas later?

[2018-07-25 09:08] teolemon opened #36 "Detect the amount of blur in an image"
https://www.pyimagesearch.com/2015/09/07/blur-detection-with-opencv/
Allows us to prevent overwriting of images by a blurry one.

[2018-07-25 09:11] teolemon opened #37 "Enable whitelisting specific faces"
Many cloud computer vision have face detection algos, but they might find a face on packaging while we're looking for faces of users.
Allow to whitelist "known faces" and to flag actual faces.

[2018-09-11 19:14] clumsyfox-z9o9z commented on #6
We started working on it ;-). Can you assign the issue to me?

[2018-09-19 08:12] teolemon opened #38 "Detect the Nutriscore on products"
Some products have started displaying the ABCDE Nutriscore.
Detect that products have a Nutriscore, and which one it is.

Example: https://world.openfoodfacts.org/product/3596710467815/houmous

[2018-09-20 19:01] llucifer97 commented on #38
hi, @teolemon I would like to solve this issue.

[2018-09-21 07:40] teolemon commented on #38
hey @llucifer97

here are a few more details:

https://world.openfoodfacts.org/label/nutriscore.json
https://world.openfoodfacts.org/label/nutriscore
https://static.openfoodfacts.org/images/misc/nutriscore-a.svg
https://static.openfoodfacts.org/images/misc/nutriscore-b.svg
https://static.openfoodfacts.org/images/misc/nutriscore-c.svg
https://static.openfoodfacts.org/images/misc/nutriscore-d.svg
ht

[2018-09-21 14:46] rahil1304 commented on #37
Hey, I'm Rahil, I'd like to work on this issue.

[2018-09-21 14:46] rahil1304 commented on #37
Hey, I'm Rahil from India. I'd like to work on this issue.

[2018-09-21 14:51] rahil1304 commented on #36
Hey, I'd like to solve this issue and would like some more information on the same.

[2018-09-23 08:17] llucifer97 commented on #38
hi @teolemon  I have been working on the issue past 2 days. Though i am able to recognise the ABCDE SCORE but i am facing  problem in detecting the nutrisocre(a, b,c,d,e) ,I am using tensorflow object detection api , I have first made a xml file for each train image and test image and converted it to csv .AND then using those csv file iam trying to make tfrecord file .ON doing so it is throwing a

[2018-09-25 19:46] llucifer97 commented on #31
Hi @teolemon if no one is working on this issue i would like to solve this issue?

[2018-10-14 12:25] teolemon opened #40 "Autocrop ingredient lists"
All products have ingredient lists
Many products have ingredient lists in more than one language.

We'd need a system to bound ingredients lists, and ingredient lists in each language. That way we could autoselect an ingredient list image for many products.

[2018-10-18 13:41] teolemon commented on #8
This one has been solved by @sgrpanchal31 and is awaiting initial deployment

[2018-10-24 15:07] teolemon opened #41 "Detect all mentions of carbon footprint"
![image](https://user-images.githubusercontent.com/1689815/47440778-27190580-d7af-11e8-8d8b-832d6d1f05d0.png)
Automatically detect all text mentions of carbon footprints. Probably adopt a text-based approach

[2018-10-24 15:08] teolemon commented on #9
![image](https://user-images.githubusercontent.com/1689815/47440944-75c69f80-d7af-11e8-9101-5286681df24d.png)

[2018-10-28 15:59] teolemon opened #42 "Deploy a labelling server"
Deploy a labelling server

[2018-10-29 11:07] timotte1984 commented on #41
avez-vous aussi les photo des côtés  de l'emballage ? car concernant l'impact carbone, on ne sait pas si c'est l'impact du produit ou d'une portion ou autre

[2018-11-07 12:53] akshatkish commented on #37
My name is Akshat and I am from India. I would like to clarify and establish the issue, here. We require to detect faces using any face detection algorithm but then to filter out only those faces that are known to the machine learning model from training phase (which are also printed on packaging).

[2018-11-07 12:57] rahil1304 commented on #37
So finally
1) detect the face (I'd like to use dlib and it's more accurate than voila jones and other algorithms)
2) filter out and detect only those images that are required and already known
Am I Correct?

[2018-11-21 18:51] ademenet commented on #29
I'm working on it!

Right now I'm looking to the datas and figuring out how many labels we are going to need to be pertinent.

I'll look to your work @vasu-dev. Did you find why it doesn't work?

[2018-11-26 20:21] #37 closed

[2018-12-08 14:56] llucifer97 commented on #36
hey @teolemon  I am taking up this issue. Any further information you would like to convey!

[2018-12-08 15:01] llucifer97 commented on #40
I have started working on this issue.

[2018-12-15 09:53] teolemon opened #43 "Detecting photos of screen"
We have people taking photos of screens, with copyrighted images.
![front_fr 4 full](https://user-images.githubusercontent.com/1689815/50041571-87158500-0057-11e9-80ac-7cb4c7c43de1.jpg)

Is it possible to detect such cases ?

[2019-01-06 04:33] CloCkWeRX opened #44 "Extract QR codes"
Similar to #11

A small number of products often feature a QR code. Sometimes, these are part of a "competition", almost always these are URLs.

By recognising QR codes, simple regex could detect brands from the urls; or automatically link to the product on manufacturer's site.

[2019-01-06 04:44] CloCkWeRX opened #45 "Detect country of origin automatically from label or logo"
A more specific version of #7

There are two main variants of "Made in (Country)" labelling which seem common
 * Specific logos, such as "Australian Made" (see https://www.australianmade.com.au/why-buy-australian-made/about-the-logo/ for examples)
 * Wording such as "Product of" or "Made in" plus a country.

The plain text wording is likely the easiest to do; as it would be simply a pipeline looki

[2019-01-06 04:49] CloCkWeRX opened #46 "Extract product quantity, units automatically"
Almost all products feature a numeric quantity and unit, this would predominantly be text extraction and filtering results via regexp of common units.

Importantly, this could be used as a broad indicator for #29 - fluids (ml, L, etc) vs solids (g, kg) require different container mechanisms

[2019-01-12 06:13] gaurishankar9793 commented on #44
hi i am willing to work on this issue have some doubts about it.
has it to be just a qr scanner or we have to extract the qr from the image first

[2019-01-12 10:10] teolemon commented on #44
I'd be tempted to run a QR code library on the images.

[2019-01-22 14:36] gaurishankar9793 commented on #44
need data set to check my algo
have done the extraction part :)

[2019-01-30 04:53] rishuu007 commented on #41
Hey, can you provide me with the dataset(link) with the carbon footprints information over it?,

[2019-01-30 04:54] rishuu007 commented on #27
can you please elaborate this a bit more?

[2019-01-30 04:55] rishuu007 commented on #24
dataset for this please?

[2019-02-05 05:42] aditya98ak commented on #29
I'd love to work on this issue, please assigned it to me if nobody is working on it.

[2019-02-05 11:30] teolemon commented on #44
I've run QR code detection on the dataset

[2019-02-07 04:59] CloCkWeRX commented on #45
[code]
at the moment, but when its up I'll take a look!

[2019-02-15 13:26] raphael0202 commented on #42
@teolemon Can we considered it done with robotoff?

[2019-02-22 18:47] hrithik-jha commented on #45
Hi, I'm Hrithik and am new here. I had a question and a suggestion. For the country of origin is the aim to find out where the specific product is made or a subsidiary product of large brand made in a different location, e.g. A Hershey's chocolate has plants in Mexico, USA and other countries so are we supposed to find out where the specific chocolate bar was made or where it is made in general. I

[2019-03-28 21:38] #42 closed

[2019-03-29 07:43] #30 closed

[2019-03-29 07:45] #9 closed

[2019-04-10 00:13] gaurishankar9793 commented on #44
https://colab.research.google.com/github/gaurishankar9793/Qr-code-Extraction-/blob/master/Qrcode_detection.ipynb

[2019-04-19 08:53] #38 closed

[2019-04-19 11:44] raphael0202 commented on #31
@teolemon Implemented in Robotoff, we should discuss how to use this feature in OFF

[2019-06-01 16:24] teolemon commented on #31
@raphael0202 Perhaps in HungerGames ?

[2019-06-18 12:00] teolemon commented on #43
https://github.com/dukn/screenshot_detector

[2019-06-26 08:53] CloCkWeRX commented on #46
This seems to be working nicely - closable?

[2019-06-26 08:53] CloCkWeRX commented on #45
Wiki still down for me, but this seems to be working; closable?

[2019-06-26 09:03] CloCkWeRX opened #48 "Detect brand candidates from barcode prefixes"
https://world.openfoodfacts.org/brand/woolworths

Observations:
 - A large majority of these items have a barcode prefix of 9300633 (a search by GTIN confirms the Woolworths Group as the owner of that prefix)
 - There is frequently common branding in the form of a logo

Suggestion:
 - Find all products grouped by the first 7 digits of a barcode having count > 10 and brand is not null
 - If 10 prod

[2019-06-30 15:22] #46 closed

[2019-07-04 07:46] CloCkWeRX opened #49 "Expand quantity detection to large units without a "Net" symbol"
Right now, the model seems to heavily rely on the presence of a NET indicator to determine which is most the likely weight.

We should consider looking for units like "1 L" or "1 KG", which are too large to be commonly found in a nutrient table; where no other quantities have been detected.

[2019-07-04 08:04] CloCkWeRX commented on #45
Note to self: Now lives in https://github.com/openfoodfacts/openfoodfacts-server/blob/master/taxonomies/labels.txt

[2019-07-04 08:42] CloCkWeRX opened #50 "Quantity detection: Try to exclude matches for "4x45g" and similar."
Right now; the model will often detect the weight as "45 g" when given "4x45g"

If possible, a detection of this should invalidate other quantity detections.

[2019-07-04 08:47] CloCkWeRX opened #51 "Quantity detection: Have realistic upper limits on units"
![image](https://user-images.githubusercontent.com/365751/60652746-ea49f600-9e87-11e9-889f-d1c716418758.png)

https://world.openfoodfacts.org/product/8410556908514/cacahuetes-enrobees-de-chocolat-noir

Question:
https://robotoff.openfoodfacts.org/api/v1/questions/8410556908514?lang=en

Perhaps filtering any results > 10000 of any unit is appropriate? (I did see a 5000g powder)

[2019-07-04 09:13] CloCkWeRX opened #52 "Quantity detection: Match "100 g NET""
Examples:
https://world.openfoodfacts.org/product/9315822113687

[2019-07-05 15:32] #45 closed

[2019-07-06 17:58] hangy commented on #48
FWIW, we can already find those products using the website: https://world.openfoodfacts.org/brand/-woolworths/code/9300633xxxxxx

Also, it might be worth looking into Robotoff, because it could do this based on the OCR information: openfoodfacts/robotoff#72

[2019-07-09 05:40] CloCkWeRX commented on #48
Sample candidates for Australia; using excel:

````https://world.openfoodfacts.org/cgi/search.pl?action=process&tagtype_0=states&tag_contains_0=contains&tag_0=brands-completed&tagtype_1=countries&tag_contains_1=contains&tag_1=Australia&sort_by=unique_scans_n&page_size=500&axis_x=energy&axis_y=products_n&action=display```

-> LEFT(barcode, 7)
-> Group by, filter results > 10 products

https://world

[2020-01-27 10:51] teolemon opened #53 "Add system to flatten curved images"
On bottles and tins, the image will be curved.
Other a way to flatten the image, as if it had been removed from the bottle.

http://dsp.stackexchange.com/questions/2406/how-to-flatten-the-image-of-a-label-on-a-food-jar

[2020-05-03 14:10] #31 closed

[2020-05-10 16:55] caldweln commented on #5
Hi @teolemon I can work on this issue....
Has the work of @aromadhony been progressed?
If not, I think I can help improve it and get something online and running.

My first question would be, what are the target categories?
I've listed the 100 most frequent categories [here](https://docs.google.com/spreadsheets/d/1fPWGpLdBIYBf6AtyL11JPae4EHe3n3ZiM3AZo_CSfo0/edit?usp=sharing), which together cover

[2020-05-10 18:18] teolemon commented on #5
Hey @caldweln we have deployed categorization. Would you join us on Slack (https://slack.openfoodfacts.org) so that we can discuss with @raphael0202 ?
ping @teolemon once you arrive on slack :-)

[2020-06-09 12:42] #5 closed

[2020-06-09 12:45] raphael0202 commented on #12
Closing this issue, as the annotation is in progress (the logo annotation tool is now live).

[2020-06-09 12:45] #12 closed

[2020-06-09 14:30] raphael0202 commented on #48
Brand prefixes are computed on Robotoff: https://github.com/openfoodfacts/robotoff/blob/master/data/brand_prefix.json. It is for the moment used as a safeguard to filter incorrect brand prediction, but we can definitely use it to predict the brand directly.

[2020-07-15 15:38] teolemon opened #54 "Try to detect the name based on the size of the text"
A simplistic assumption: the name of the product should be the largest text on the front of the product.
Based on this, we could compute a ratio between the area of the bounding boxes (width by height) and the amount of letters inside it .
Based on this ratio, we could have candidates for the product name

[2020-07-29 07:02] CloCkWeRX opened #55 "Infer packaging from related products in the category"
Perhaps a robotoff task is best, to allow human confirmation; but there are a number of categories where a product has certain physical properties that require a common style of packaging.

Examples:
 - Milk, will come as Bottled or in a Carton, Plastic, Glass or Cardboard
 - Eggs, frequently in a cardboard or plastic carton.
 - Pasta sauce is typically in a glass jar or bottle.

A lot of this can

[2020-07-29 07:25] teolemon commented on #55
@CloCkWeRX this is a topic I'd like to get moving asap, can you create a list of categories with strong correlations ?
and possibly for each category, an ordered list of frequency, possibly with the country (I think packaging sometimes changes from country to country)

[2020-07-29 07:26] teolemon commented on #55
<pre>
en:eggs
associated_packagings:en en:Cardboard to recycle
</pre>

or perhaps easier, a collaborative spreadsheet that we can iterate on ?

[2020-07-29 07:28] teolemon commented on #55
https://world.openfoodfacts.org/category/eggs/packaging

[2020-07-30 03:43] CloCkWeRX commented on #55
Pipeline I'm setting up for this:
[code]
which is a bit easier than doing it all manually.

What's best, ruby/python/perl/node; assuming this would run periodically?

[2020-07-30 05:01] CloCkWeRX commented on #55
https://github.com/CloCkWeRX/openfoodfacts-packaging-from-category - python 2.7 version, simple command line tool that spits out JSON. It only goes into the first page of results right now.

![image](https://user-images.githubusercontent.com/365751/88882552-62dcdb00-d271-11ea-90ab-b19fd8dc676c.png)

[2020-07-30 05:54] CloCkWeRX commented on #55
Okay, few more tweaks, handles pagination (stops after 3 pages), world or country, etc.

Now just need to generate the most popular categories and generate a bunch of static JSON :)

![image](https://user-images.githubusercontent.com/365751/88885986-bb63a680-d278-11ea-84c1-d8e9e7afc07c.png)

[2020-07-30 06:05] CloCkWeRX commented on #55
@raphael0202 - python isn't my default language, if you have some time would you mind looking over https://github.com/CloCkWeRX/openfoodfacts-packaging-from-category and suggesting if there are better or more idiomatic ways to structure this?

In my head, this is somewhat of a static JSON generator (just push all the results to git/easy to expose via a static web server for openfoodfacts-server to

[2020-07-30 10:15] CloCkWeRX commented on #54
I was thinking a good pipeline also could be:
- get all text from front image
- look for brand candidates from barcode group
- remove labels ("fat free")
- remove quantity (360g/similar regexp)
- extract remaining sentences
- weight "x with y" or "x & y" heavily (perhaps a good list of title patterns)

... and provide these as autocomplete suggestions for the name field.

These steps might help (p

[2020-07-30 10:22] CloCkWeRX opened #56 "Detect "shiny" or reflective glass, plastic packaging"
http://www.hutter1.net/publ/reflect.pdf describes an approach around detecting reflection, potentially for a lot of transparent glass or plastic containers we could sense bright patches corresponding to reflected light patches

[2020-07-30 10:26] CloCkWeRX commented on #29
I started looking at this - doe something have curves and straight lines: cylinder; corners and straight lines? Box

But after a bit of thought, #55 seemed an easier problem to solve - perhaps could be used as a validation for training.

[2020-07-30 10:27] CloCkWeRX commented on #23
Raised #56 for a glass/transparent plastic detector.

[2020-07-30 13:55] teolemon commented on #55
@stephanegigandet

[2020-11-11 10:05] Asteur commented on #17
@teolemon still actual?

[2020-11-11 10:10] teolemon commented on #17
We have moved forward on this, so I believed the dataset part is fixed @Asteur
Would you be interested in helping with AI tasks ? We have a weekly call on Nutrition extraction.

[2020-11-11 10:20] Asteur commented on #17
Yes, AI or in python @teolemon In slack?

[2020-11-11 10:43] teolemon commented on #17
yup, there's an important  issue in Python that would have quite an impact waiting for you in the #robotoff channel @ https://slack.openfoodfacts.org :-)

[2020-11-11 11:05] Asteur commented on #17
Do you mean this one https://github.com/openfoodfacts/robotoff/issues/260? <https://github.com/openfoodfacts/robotoff/issues/260?> Let me take a look, what’s going on in #robotoff

[2021-01-20 16:45] devingfx opened #65 "Extract data from bills and enrich OFF with prices notion"
I read somewhere that table recognition is on roadmap...
When this is ready, scanning "bills" or invoices to extract products price by brand/store/date.

With a shared price information, comparators and other apps would be possibles...

- See price over time of a product
- Compare stores margins
- Detect price fluctuation
- Compare categories average prices
- Compare categories average country dif

[2021-01-20 16:51] devingfx commented on #65
I developped a draft of bills data extractor from PDF > detect header footer infos (like store, address, date, SIRET, ect) > parse table rows to CSV.

PDF file are generated right now by an external app TextFairy that uses Tesseract to extract text and positioning.

I found OpenFoodFacts searching a way to get products infos from "partial general name" + store

[2021-01-24 09:39] mikejsdev opened #67 "API search results differ from Open Food Facts website search"
Hello,

Firstly, this really is a great service and the API is working fantastically well, so thank you.

When searching using the API, for example for "orange juice" the results come back ordered by unique_scans_n which is great

https://world.openfoodfacts.org/cgi/search.pl?search_terms=Orange%20juice&search_simple=1&action=process&json=1&page_size=100

Searching for "Orange juice" in the Open F

[2021-01-25 09:43] #67 closed

[2021-02-01 15:23] #41 closed

[2021-02-01 15:24] teolemon commented on #10
We have an ongoing student project on that, using a conventional approach.

[2021-02-01 15:24] #10 closed

[2021-02-01 15:25] teolemon commented on #7
We have a working game for this. Closing.

[2021-02-01 15:25] #7 closed

[2021-07-04 13:40] teolemon opened #72 "Detect non-written packaging instructions"
### What

- We could use the generic logos & labels system
- We could do something custom ?
- We have the vector versions of the symbols here: https://www.figma.com/file/Gme79AHqYkupXL5UZuvF0D/Packaging-shapes-from-the-French-CITEO-system
- https://github.com/openfoodfacts/openfoodfacts-server/pull/5627
### Part of
- [ ] #97
### Example
![image](https://user-images.githubusercontent.com/1689815/12

[2021-09-09 11:09] teolemon commented on #65
@devingfx We had made this prototype during a hackathon: https://github.com/openreceipts/openreceipts-server

[2021-09-09 11:13] teolemon opened #75 "Generate datasets to support our AI efforts (tracker)"
### Who for
- ML developpers
### What

### Why
- Data is needed to train, while being practical for on-laptop training

### Part of
- #76

[2021-09-09 11:14] teolemon opened #76 "🎯 What can I work on ? (openfoodfacts-ai)"
### What
- [ ] #75
- [ ] #77
- [ ] https://github.com/openfoodfacts/robotoff/issues/374 (Robotoff, our applied AI effort)
- [ ] #97
- [ ] #98
- [ ] #99
- [ ] #289

### Why
- The scale of Open Food Facts requires us to use ML to assist contributors, provide useful features to casual users and accelerate our mission for food transparency.

[2021-09-09 11:17] teolemon opened #77 "Non ML tasks you can help with (Tracker)"
### Who for

- People who want to take a break from ML
- People who want to unlock ML issues without ML knowledge

### What

### Part of
- #76

[2022-02-03 10:15] teolemon commented on #56
@CloCkWeRX I'm moving that to openfoodfacts-ai

[2022-03-21 15:39] mayankcs commented on #44
Hello, is this issue closed? as it seems gaurishankar9793 solved it.

[2022-03-21 17:24] teolemon opened #97 "Extract packaging-related information (Tracker)"
### What

### Part of
- #76
- https://github.com/openfoodfacts/openfoodfacts-server/issues/6374
- https://github.com/openfoodfacts/robotoff/issues/121

[2022-03-21 17:32] teolemon opened #98 "Categorize products (Tracker)"
### What
- [ ] #82
- [ ] https://github.com/openfoodfacts/robotoff/issues/379

### Part of
- #76

[2022-03-21 17:41] teolemon opened #99 "🧽 Support data quality (tracker)"
### What

### Part of
- #76

[2022-03-30 14:28] abviv commented on #75
Is there a large collection of **unlabeled** dataset to meet the requirements of this issue? Since I need to do some EDA to understand the class(labels) variety we are dealing with.

[2022-06-15 19:21] alexgarel opened #234 "Evaluate https://github.com/mindee/doctr as a backup to Google Vision API."
This is a project pushed during the data for good demo. https://github.com/mindee/doctr

This could be a backup to Google Vision API.

[2022-07-06 14:01] alexgarel opened #166 "Explore usage of sequence labeling to extract ingredients origin"
We actually have regexp to parse complicated sentences in french and english to get origin of ingredients (see parse_specific_ingredients_from_text and parse_origins_from_text in Ingredients.pm).

Could we use sequence labeling instead.
* would scale better to multiple languages
* would enable users to add specific examples more easily and enrich the model
* with a good model, would capture more

[2022-09-22 09:19] raphael0202 commented on #53
More details about this project by @HARSH-nith:

### Problem
We are currently using Google Vision OCR in robotoff for extracting nutrition table data from images.
The performance of google vision OCR is good, But the main drawback with google OCR is that **it performs very badly with the images having non-aligned curvature.** Due to this problem, we are unable to extract nutrition tables from pack

[2022-10-10 11:43] raphael0202 opened #203 "Explore clustering of products based on their images"
Open Food Facts database contains about 6 million images of food products.
Up to now, we have never used this dataset to try to cluster or classify products based on their images.

Depending on the results, possible use cases are:
- detect duplicated products
- predict product category
- enabling a new (visual) way of exploring Open Food Facts

## Steps
1. Download images of a subset (~200k produc

[2022-10-11 12:21] raphael0202 opened #207 "Test detecting packaging with CircularNet models"
### What
Google recently released [CircularNet](https://blog.tensorflow.org/2022/10/circularnet-reducing-waste-with-machine.html), a set of image segmentation models that detect:
- packaging material form (ex: bottle)
- packaging material type (ex: plastic)
- plastic type if applicable (ex: PET)

It would be very valuable for us to use these models to extract automatically packaging information fr

[2022-10-11 12:34] teolemon commented on #207
- It would make sense to close #23 and #29, I guess

[2022-10-11 12:34] teolemon commented on #23
- Please see https://github.com/openfoodfacts/openfoodfacts-ai/issues/207 for a promising approach

[2022-10-11 12:34] teolemon commented on #29
- Please see https://github.com/openfoodfacts/openfoodfacts-ai/issues/207 for a promising approach

[2022-10-17 08:09] raphael0202 opened #214 "Build an image classifier to detect image type (front, nutrition, ingredient, packaging)"
# Rationale

In Open Food Facts, users must select a front, nutrition, ingredients, and packaging image for each product and for each supported language. This task is quite time-consuming, especially for multi-lingual products. Besides, images are often only selected for the language of the contributor and not for other supported languages.
We would like to build an image classifier to automatical